@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext,vietnamese");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: .5rem;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1010px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.table {
  width: 100%;
  font-size: 14px;
}

.table tr th {
  vertical-align: bottom;
  border: 1px solid #dee2e6;
  padding: .75rem;
}

.table tr td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.menu {
  font-size: 15px;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
}

.navbar-nav {
  margin: 0;
  list-style: none;
  padding-left: 15px;
}

.navbar-nav li a {
  text-transform: uppercase;
  color: #000;
  position: relative;
}

.navbar-nav li a:after {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #ffc66c;
  content: "";
  margin-left: -20px;
}

.navbar-nav li:hover a:after, .navbar-nav li.active a:after {
  display: block;
}

.frm-search {
  position: relative;
}

.frm-search .txt-search {
  height: 30px;
  border-radius: 15px;
  border: 0;
  background: #eee;
}

.btn-search {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 50px;
  text-align: center;
  border: 0;
  background: none;
  padding-left: 0;
  padding-right: 0;
}

/*ipad*/
@media screen and (min-width: 991px) {
  .btn-menu {
    display: none;
  }
  .menu .inner-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-nav {
    padding-top: 5px;
  }
  .navbar-nav li {
    list-style: none;
    display: inline-block;
    padding-left: 25px;
  }
  /*frm-search*/
  .frm-search {
    margin-left: auto;
  }
  .frm-search .txt-search {
    width: 270px;
    padding-left: 50px;
  }
}

/*Phone*/
/*iphone 6 plus*/
/*iphone 6*/
/*phone 5 inches*/
/*phone 4 inches*/
.footer {
  color: #fff;
  margin-top: 50px;
}

.top-footer {
  background-color: #000;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-footer .inner, .bottom-footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer {
  background-color: #2d3c5d;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a {
  color: #fff;
}

.footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer ul li {
  list-style: none;
}

@media screen and (min-width: 991px) {
  .footer ul li {
    display: inline-block;
  }
  .footer ul.list-sp li {
    margin-right: 10px;
  }
  .footer ul.list-social li {
    margin-left: 10px;
  }
  .footer ul.list-social {
    margin-left: auto;
  }
  .copyright {
    width: 140x;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .rss {
    text-align: right;
    margin-left: auto;
  }
  .outer-list-bank {
    width: 1px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 10px;
  }
  .list-bank {
    margin-bottom: 0;
    width: auto;
    overflow: hidden;
  }
  .footer ul.list-bank li {
    margin-right: 10px;
    float: left;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-search {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-search-min.png);
}

.icon-book {
  width: 25px;
  height: 25px;
  background-image: url(../img/icon/icon-book-min.png);
}

.icon-location {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-location-min.png);
}

.icon-phone {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-phone-min.png);
}

.btn-next {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-next-min.png);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
}

.btn-more {
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/icon-more-min.png);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
}

.icon-facebook {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-facebook-min.png);
}

.icon-skype {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-skype-min.png);
}

.icon-telegram {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-telegram-min.png);
}

.icon-call {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-call-min.png);
}

.icon-rss {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/icon-rss-min.png);
}

.icon-back {
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/icon-back-min.png);
}

.icon-home {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-home.png);
}

/*structure*/
.main {
  margin-top: 25px;
}

.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 20px;
}

.sidebar {
  width: 300px;
}

.block-bar {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin: 0 0 25px 0;
}

.title i {
  margin-top: -3px;
  margin-right: 5px;
}

/*art-bank*/
.art-bank {
  -webkit-box-shadow: 0 4px 10px #eee;
          box-shadow: 0 4px 10px #eee;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.art-bank h2 {
  font-size: 18px;
  margin: 0 0 25px 0;
  font-weight: 600;
}

.art-bank h2 a {
  color: #2A4580;
}

.art-bank address span {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.art-bank address a {
  color: #000;
}

.art-bank address span i, .art-bank address a i {
  margin-right: 3px;
}

.btn-next {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.table tr td.name-coin {
  color: #3F5FA6;
  font-weight: 600;
}

/*sticky-top*/
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 98;
}

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 70px;
}

/*breadcumb*/
.breadcumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcumb li {
  display: inline-block;
}

/*ipad*/
/*Phone*/
/*iphone 6 plus*/
/*iphone 6*/
/*phone 5 inches*/
/*phone 4 inches*/
/*# sourceMappingURL=style.css.map */