.footer { color: #fff; margin-top: 70px;}
.top-footer { background-color: #000;padding: 20px 0; display: flex;}
.top-footer .inner, .bottom-footer .inner { display: flex;}
.bottom-footer { background-color: #2d3c5d; padding: 12px 0; display: flex;}
.footer a { color: #fff;}
.footer ul { padding: 0; list-style: none; margin-bottom: 0;}
.footer ul li { list-style: none;}

@media screen and (min-width: 991px) {
    .footer ul li  { display: inline-block;}
    .footer ul.list-sp li { margin-right: 10px;}
    .footer ul.list-social li { margin-left: 10px;}
    .footer ul.list-social { margin-left: auto;}
    .copyright { width: 140x; margin-bottom: 0; margin-right: 20px;}
    .rss { text-align: right; margin-left: auto;}
    .outer-list-bank { width: 1px; flex-grow: 1; padding-right: 10px;}
    .list-bank { margin-bottom: 0; width: auto; overflow: hidden;}
    .footer ul.list-bank li { margin-right: 10px; float: left;}

}