.icon { display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat;}
.icon-search { width: 20px; height: 20px; background-image: url(../img/icon/icon-search-min.png);}
.icon-book { width: 25px; height: 25px; background-image: url(../img/icon/icon-book-min.png);}
.icon-location { width: 15px; height: 15px; background-image: url(../img/icon/icon-location-min.png);}
.icon-phone { width: 15px; height: 15px; background-image: url(../img/icon/icon-phone-min.png);}
.btn-next { width: 20px; height: 20px; background-image: url(../img/icon/icon-next-min.png); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; overflow: hidden; text-indent: -999px;}
.btn-more { width: 50px; height: 50px; background-image: url(../img/icon/icon-more-min.png); display: inline-block; vertical-align: middle; background-position: center; background-size: cover; background-repeat: no-repeat; overflow: hidden; text-indent: -999px;}
.icon-facebook { width: 20px; height: 20px; background-image: url(../img/icon/icon-facebook-min.png);}
.icon-skype { width: 20px; height: 20px; background-image: url(../img/icon/icon-skype-min.png);}
.icon-telegram { width: 20px; height: 20px; background-image: url(../img/icon/icon-telegram-min.png);}
.icon-call { width: 20px; height: 20px; background-image: url(../img/icon/icon-call-min.png);}
.icon-rss { width: 12px; height: 12px; background-image: url(../img/icon/icon-rss-min.png);}
.icon-back { width: 50px; height: 50px; background-image: url(../img/icon/icon-back-min.png);}
.icon-home { width: 15px; height: 15px; background-image: url(../img/icon/icon-home.png);}

.icon-like { width: 15px; height: 15px; background-image: url(../img/icon/icon-like-min.png);}
.icon-share { width: 15px; height: 15px; background-image: url(../img/icon/iconshre-min.png);}

body { padding-top: 70px;}
a, button { transition: all 0.3s ease;}
a:hover { text-decoration: none; color: #ffc66c;}
img { max-width: 100%; display: inline-block;}
/*structure*/
.main  { margin-top: 25px;}
.outer { display:flex;} 
.content { width: 1px; flex-grow: 1; padding-right: 20px;}
.sidebar { width: 300px;}
.left-bar { width: 180px; padding-right: 20px;}
.block-bar { margin-bottom: 20px;}

.title { font-size: 25px; font-weight: 600; color: #000; margin: 0 0 25px 0;}
.title i { margin-top: -3px; margin-right: 5px;}

/*art-bank*/
.art-bank { box-shadow: 0 4px 10px #eee; border-radius: 10px; overflow: hidden; padding: 20px; margin-bottom: 20px; position: relative;}
.art-bank h2 { font-size: 18px; margin: 0 0 25px 0; font-weight: 600;}
.art-bank h2 a { color: #2A4580;}
.art-bank h2 a:hover { text-decoration: none; color: #ffc66c;}
.art-bank address span { display: block; color: #000;  margin-bottom: 5px;}
.art-bank address a { color: #000;}
.art-bank address span i , .art-bank address a i { margin-right: 3px;}
.btn-next { position: absolute; right: 20px; bottom: 20px;}
.btn-next:hover { }
.table tr td.name-coin { color: #3F5FA6; font-weight: 600;}

/*sticky-top*/
.sticky-top {    position: sticky;  top: 80px;  z-index: 98;}
.btn-top { position: fixed; right: 50px; bottom: 70px;}

/*breadcumb*/
.breadcumb { list-style: none; margin: 0; padding: 0; margin-bottom: 25px;}
.breadcumb li { display: inline-block; padding-right: 18px; font-weight: 500;  background: url(../img/icon/icon-next.png) center right no-repeat; margin-right: 2px;}
.breadcumb li:last-child { font-weight: 400; position: relative; background: none; padding-right: 0; margin-right: 0;}
.breadcumb li:first-child {  background: none; padding-right: 10px; margin-right: 0;}
.breadcumb li a { color: #000;}

.btn-top { display: none; }
.btn-top:hover , .btn-next:hover,.btn-more:hover, .btn-search:hover, .list-social a:hover { transform: translateY(-2px);}

/*block-left*/
.block-left { margin-bottom: 20px;}
.list-menu { padding: 10px 20px; background: #ffc66c; list-style: none;}
.list-menu li { list-style: none; padding: 7px 0; border-bottom: 1px dashed #333;}
.list-menu li:last-child { border: 0;}
.list-menu li a { color: #000;}
.list-menu li a:hover, .list-menu li.active a { font-weight: 700;}

/*pagging*/
.pagging { display: block; text-align: center; list-style: none; padding: 0; margin-top: 20px;}
.pagging li { display: inline-block; padding: 0; margin: 0 5px;}
.pagging li a { width: 36px; height: 36px; display: inline-block; border-radius: 50%; background: #ccc; color: #fff; line-height: 36px;}
.pagging li.active a  {  background: #ffc66c; }
/*art-news*/
.art-news { margin-bottom: 20px; padding: 15px; box-shadow: 0 0px 5px #ddd;}
.art-news h2 { font-size: 18px; margin: 0 0 10px 0; }
.art-news h2 a { color: #000;}
.art-news .tool { display: flex; font-size: 12px; margin-bottom: 5px;}
.art-news .tool .cate { font-weight: 700; color: #515151; text-transform: uppercase;}
.art-news .tool .date { margin-left: auto; }

.art-news .thumb { display: block; margin-bottom: 10px; margin-left: -15px; margin-right: -15px;}
.art-news p { margin-bottom: 10px; color: #6B6B6B; font-size: 14px; padding-bottom: 11px; border-bottom: dashed 1px #ccc;}
.art-news .link-bank { font-size: 13px; border-bottom: dashed 1px #2A4580; color: #2A4580; }

/*fck*/
.fck h1 { font-size: 30px; margin-bottom: 15px; }
.fck .tool { font-size: 12px; margin-bottom: 10px;}
.fck .tool .cate { text-transform: uppercase; font-weight: 700; color: #333; margin-right: 10px;}
.fck .sapo { margin: 20px 0; font-weight: 700;}
.fck figure { margin-bottom: 1rem; }
figcaption { font-size: 14px; color: #666; margin-top: 10px; font-style: italic;}


/*tool-share*/
.tool-share {
    border-top: dashed 1px #ccc;
    display: flex;
    list-style: none;
    padding: 10px 0 10px 0;
    margin: 0;
    li {
        &:last-child {
            margin-left: auto;
            span {
                cursor: pointer;
                &.like {
                    margin-right: 10px;
                }
            }
            
        }
    }
}

/*block-more*/
.title-style {
        margin-bottom: 30px;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        font-weight: 400;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 50px;
            height: 2px;
            background: #FFC66C;
            margin-left: -25px;
           
        }
    
}
.block-more {
    margin-top: 30px;
    

    .list-news {
        
        list-style: none;
        padding: 15px 0 0 0;
        li {
            padding-bottom: 10px;
            padding-left: 25px;
            position: relative;
           
            a {
                color: #000;
                font-size: 15px;
                font-weight: 500;
            }
            &:after {
                position: absolute;
                left: 5px;
                top: 10px;
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background: #000;
                border: 0;
            }
        }
    }
}

/*frm-contact*/
.frm-general {
   
    h2 {
        margin-bottom: 30px;
       
    }
    .frm-group {
        margin-bottom: 15px;
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }
    }
    .frm-control {
        width: 100%;
        border: 0;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        background: #eee;
        outline: none!important;
        &.txt-area {
            height: 150px;
            resize: none;
        }
    }
}

.btn-style {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 15px;
    color: #fff;
    background: #FFC66C;
    border: 0;
    &.btn-send { 
        min-width: 200px;
    }
}
.note { margin-top: 30px;}

.box-shadow {
    padding: 15px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}