.menu { z-index: 999; font-size: 15px; padding: 20px 0; box-shadow: 0 0 2px #ccc; position: fixed; left: 0; top: 0; width: 100%; background: #fff;}
.navbar-nav { margin: 0; list-style: none; padding-left: 15px;}
.navbar-nav li a { text-transform: uppercase; color: #000; position: relative;}
.navbar-nav li a:after { display: none; position: absolute; bottom: -5px; left: 50%; width: 40px; height: 2px; background: #ffc66c; content: ""; margin-left: -20px;}
.navbar-nav li:hover a:after , .navbar-nav li.active a:after { display: block;}
.frm-search { position: relative; }
.frm-search .txt-search { height: 30px; border-radius: 15px; border: 0; background: #eee; outline: none!important;}
.btn-search { position: absolute; left: 0; top: 0; height: 30px; width: 50px; text-align: center; border: 0; background: none; padding-left: 0; padding-right: 0;}

/*ipad*/

@media screen and (min-width: 991px) {
    .menu { }
    .btn-menu { display: none;}
    .menu .inner-menu { display: flex;}
    .navbar-nav { padding-top: 5px;}
    .navbar-nav li { list-style: none; display: inline-block; padding-left: 25px;}
    .navbar-nav li a:hover { text-decoration: none; }
    /*frm-search*/
    .frm-search { margin-left: auto;}
    .frm-search .txt-search { width: 270px; padding-left: 50px;}
}

@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 768px) and (max-width: 991px){


}

@media screen and (min-width: 992px) and (max-width: 1199px){

}
    
@media screen and (max-width: 992px) {
    .menu {
        padding: 4px 0;
    }
    .inner-menu { 
        display: flex; 
        position: relative;
        .logo {
            display: block;
            margin-top: 8px;
        }
    }
    .outer-menu { 
        transform: translateX(100vw);
        margin-top: 4px;
        background: #eee;
        padding: 20px 0;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 100vw;
        margin-left: calc(-100vw/2) ;
        height: calc(100vh - 51px)  ;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        ul {
            padding: 0;
            li {
                text-align: center;
                padding: 10px 0;
                a {
                    font-weight: 700;
                    &:after {
                        display: none!important;
                    }

                }
                &.active {
                    a {
                        color: #ffc66c;
                    }
                }
                
            }
        }
    }
    .show {
        .outer-menu {
            transform: translateX(0);
        }
    }
    .frm-search {
        position: absolute;
        right: 75px;
        top: 5px;
        z-index: 999;
        .txt-search {
            display: none;
        }
        .btn-search {
            padding-top: 0;
            top: 0;
        }
    }
    .btn-menu {
        outline: none!important;
        margin-top: 0px;
        margin-left: auto;
        width: 30px;
        height: 43px;
        position: relative;
        border: 0;
        background: none;
        &:after {
            position: absolute;
            top: 20px;
            right: 0;
            display: block;
            height: 9px;
            width: 22px;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            content: '';
            transition: all .3s ease;
        }
        &:before {
            transition: all .3s ease;
            position: absolute;
            top: 13px;
            right: 0;
            display: block;
            height: 2px;
            width: 22px;
            background: #000;
            content: '';
            transition: all .3s ease;
        }
    }
    .show {
        .btn-menu {
            &:after {
               
                top: 21px;
                border: 0;
                height: 2px;
                width: 22px;
                background: #000;
                transform: rotate(45deg);
            }
            &:before {
                top: 21px;
                height: 2px;
                width: 22px;
                transform: rotate(-45deg);
                background: #000;
            }
        }
    }
    
}    

/*Phone*/
@media screen and (max-width: 767px){


}
@media screen and (max-width: 480px){


}
/*iphone 6 plus*/
@media screen and (max-width: 415px){
   
}
/*iphone 6*/
@media screen and (max-width: 376px){
   
}
/*phone 5 inches*/
@media screen and (max-width: 360px){

}
/*phone 4 inches*/
@media screen and (max-width: 320px){
    
}