/*ipad*/

@media screen and (min-width: 991px) {
    
}

@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 768px) and (max-width: 991px){


}

@media screen and (min-width: 992px) and (max-width: 1199px){

}
    
@media screen and (max-width: 992px) {
    body {
        padding-top: 51px;
        overflow-x: hidden;
    }
   
    .block-qc {
        text-align: center;
    }
    .btn-top {
        bottom: 100px;
        right: 10px;
        z-index: 99999;
        .icon-back {
            width: 35px;
            height: 35px;
            background-size: contain;
        }
    }
    .outer {
        display: block;
        .content {
            width: 100%;
            padding-right: 0;
            margin-bottom: 50px;
        }
        .sidebar {
            width: 100%;
        }
        .left-bar {
            width: 100%;
            padding: 0;
        }
    }
    .top-footer .inner, .bottom-footer .inner {
        display: block; text-align: center;
    }
    .top-footer .inner ul li , .bottom-footer .inner ul li { display: inline-block; margin: 0 3px;}
    .rss { display: block; margin-top: 15px;}
    .footer ul.list-sp { margin-bottom: 15px;}

    
    
}    

/*Phone*/
@media screen and (max-width: 767px){


}
@media screen and (max-width: 480px){


}
/*iphone 6 plus*/
@media screen and (max-width: 415px){
   
}
/*iphone 6*/
@media screen and (max-width: 376px){
   
}
/*phone 5 inches*/
@media screen and (max-width: 360px){

}
/*phone 4 inches*/
@media screen and (max-width: 320px){
    
}