@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext,vietnamese");
*,
*::before,
*::after {
  box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: .5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1010px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.table {
  width: 100%;
  font-size: 14px;
}

.table tr th {
  vertical-align: bottom;
  border: 1px solid #dee2e6;
  padding: .75rem;
}

.table tr td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.menu {
  z-index: 999;
  font-size: 15px;
  padding: 20px 0;
  box-shadow: 0 0 2px #ccc;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
}

.navbar-nav {
  margin: 0;
  list-style: none;
  padding-left: 15px;
}

.navbar-nav li a {
  text-transform: uppercase;
  color: #000;
  position: relative;
}

.navbar-nav li a:after {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #ffc66c;
  content: "";
  margin-left: -20px;
}

.navbar-nav li:hover a:after, .navbar-nav li.active a:after {
  display: block;
}

.frm-search {
  position: relative;
}

.frm-search .txt-search {
  height: 30px;
  border-radius: 15px;
  border: 0;
  background: #eee;
  outline: none !important;
}

.btn-search {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 50px;
  text-align: center;
  border: 0;
  background: none;
  padding-left: 0;
  padding-right: 0;
}

/*ipad*/
@media screen and (min-width: 991px) {
  .btn-menu {
    display: none;
  }
  .menu .inner-menu {
    display: flex;
  }
  .navbar-nav {
    padding-top: 5px;
  }
  .navbar-nav li {
    list-style: none;
    display: inline-block;
    padding-left: 25px;
  }
  .navbar-nav li a:hover {
    text-decoration: none;
  }
  /*frm-search*/
  .frm-search {
    margin-left: auto;
  }
  .frm-search .txt-search {
    width: 270px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    padding: 4px 0;
  }
  .inner-menu {
    display: flex;
    position: relative;
  }
  .inner-menu .logo {
    display: block;
    margin-top: 8px;
  }
  .outer-menu {
    transform: translateX(100vw);
    margin-top: 4px;
    background: #eee;
    padding: 20px 0;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100vw;
    margin-left: calc(-100vw/2);
    height: calc(100vh - 51px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
  }
  .outer-menu ul {
    padding: 0;
  }
  .outer-menu ul li {
    text-align: center;
    padding: 10px 0;
  }
  .outer-menu ul li a {
    font-weight: 700;
  }
  .outer-menu ul li a:after {
    display: none !important;
  }
  .outer-menu ul li.active a {
    color: #ffc66c;
  }
  .show .outer-menu {
    transform: translateX(0);
  }
  .frm-search {
    position: absolute;
    right: 75px;
    top: 5px;
    z-index: 999;
  }
  .frm-search .txt-search {
    display: none;
  }
  .frm-search .btn-search {
    padding-top: 0;
    top: 0;
  }
  .btn-menu {
    outline: none !important;
    margin-top: 0px;
    margin-left: auto;
    width: 30px;
    height: 43px;
    position: relative;
    border: 0;
    background: none;
  }
  .btn-menu:after {
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    height: 9px;
    width: 22px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    content: '';
    transition: all .3s ease;
  }
  .btn-menu:before {
    transition: all .3s ease;
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    height: 2px;
    width: 22px;
    background: #000;
    content: '';
    transition: all .3s ease;
  }
  .show .btn-menu:after {
    top: 21px;
    border: 0;
    height: 2px;
    width: 22px;
    background: #000;
    transform: rotate(45deg);
  }
  .show .btn-menu:before {
    top: 21px;
    height: 2px;
    width: 22px;
    transform: rotate(-45deg);
    background: #000;
  }
}

/*Phone*/
/*iphone 6 plus*/
/*iphone 6*/
/*phone 5 inches*/
/*phone 4 inches*/
.footer {
  color: #fff;
  margin-top: 70px;
}

.top-footer {
  background-color: #000;
  padding: 20px 0;
  display: flex;
}

.top-footer .inner, .bottom-footer .inner {
  display: flex;
}

.bottom-footer {
  background-color: #2d3c5d;
  padding: 12px 0;
  display: flex;
}

.footer a {
  color: #fff;
}

.footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer ul li {
  list-style: none;
}

@media screen and (min-width: 991px) {
  .footer ul li {
    display: inline-block;
  }
  .footer ul.list-sp li {
    margin-right: 10px;
  }
  .footer ul.list-social li {
    margin-left: 10px;
  }
  .footer ul.list-social {
    margin-left: auto;
  }
  .copyright {
    width: 140x;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .rss {
    text-align: right;
    margin-left: auto;
  }
  .outer-list-bank {
    width: 1px;
    flex-grow: 1;
    padding-right: 10px;
  }
  .list-bank {
    margin-bottom: 0;
    width: auto;
    overflow: hidden;
  }
  .footer ul.list-bank li {
    margin-right: 10px;
    float: left;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-search {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-search-min.png);
}

.icon-book {
  width: 25px;
  height: 25px;
  background-image: url(../img/icon/icon-book-min.png);
}

.icon-location {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-location-min.png);
}

.icon-phone {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-phone-min.png);
}

.btn-next {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-next-min.png);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
}

.btn-more {
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/icon-more-min.png);
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
}

.icon-facebook {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-facebook-min.png);
}

.icon-skype {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-skype-min.png);
}

.icon-telegram {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-telegram-min.png);
}

.icon-call {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/icon-call-min.png);
}

.icon-rss {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/icon-rss-min.png);
}

.icon-back {
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/icon-back-min.png);
}

.icon-home {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-home.png);
}

.icon-like {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/icon-like-min.png);
}

.icon-share {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/iconshre-min.png);
}

body {
  padding-top: 70px;
}

a, button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: #ffc66c;
}

img {
  max-width: 100%;
  display: inline-block;
}

/*structure*/
.main {
  margin-top: 25px;
}

.outer {
  display: flex;
}

.content {
  width: 1px;
  flex-grow: 1;
  padding-right: 20px;
}

.sidebar {
  width: 300px;
}

.left-bar {
  width: 180px;
  padding-right: 20px;
}

.block-bar {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin: 0 0 25px 0;
}

.title i {
  margin-top: -3px;
  margin-right: 5px;
}

/*art-bank*/
.art-bank {
  box-shadow: 0 4px 10px #eee;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.art-bank h2 {
  font-size: 18px;
  margin: 0 0 25px 0;
  font-weight: 600;
}

.art-bank h2 a {
  color: #2A4580;
}

.art-bank h2 a:hover {
  text-decoration: none;
  color: #ffc66c;
}

.art-bank address span {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.art-bank address a {
  color: #000;
}

.art-bank address span i, .art-bank address a i {
  margin-right: 3px;
}

.btn-next {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.table tr td.name-coin {
  color: #3F5FA6;
  font-weight: 600;
}

/*sticky-top*/
.sticky-top {
  position: sticky;
  top: 80px;
  z-index: 98;
}

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 70px;
}

/*breadcumb*/
.breadcumb {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.breadcumb li {
  display: inline-block;
  padding-right: 18px;
  font-weight: 500;
  background: url(../img/icon/icon-next.png) center right no-repeat;
  margin-right: 2px;
}

.breadcumb li:last-child {
  font-weight: 400;
  position: relative;
  background: none;
  padding-right: 0;
  margin-right: 0;
}

.breadcumb li:first-child {
  background: none;
  padding-right: 10px;
  margin-right: 0;
}

.breadcumb li a {
  color: #000;
}

.btn-top {
  display: none;
}

.btn-top:hover, .btn-next:hover, .btn-more:hover, .btn-search:hover, .list-social a:hover {
  transform: translateY(-2px);
}

/*block-left*/
.block-left {
  margin-bottom: 20px;
}

.list-menu {
  padding: 10px 20px;
  background: #ffc66c;
  list-style: none;
}

.list-menu li {
  list-style: none;
  padding: 7px 0;
  border-bottom: 1px dashed #333;
}

.list-menu li:last-child {
  border: 0;
}

.list-menu li a {
  color: #000;
}

.list-menu li a:hover, .list-menu li.active a {
  font-weight: 700;
}

/*pagging*/
.pagging {
  display: block;
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagging li {
  display: inline-block;
  padding: 0;
  margin: 0 5px;
}

.pagging li a {
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  line-height: 36px;
}

.pagging li.active a {
  background: #ffc66c;
}

/*art-news*/
.art-news {
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0px 5px #ddd;
}

.art-news h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.art-news h2 a {
  color: #000;
}

.art-news .tool {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
}

.art-news .tool .cate {
  font-weight: 700;
  color: #515151;
  text-transform: uppercase;
}

.art-news .tool .date {
  margin-left: auto;
}

.art-news .thumb {
  display: block;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.art-news p {
  margin-bottom: 10px;
  color: #6B6B6B;
  font-size: 14px;
  padding-bottom: 11px;
  border-bottom: dashed 1px #ccc;
}

.art-news .link-bank {
  font-size: 13px;
  border-bottom: dashed 1px #2A4580;
  color: #2A4580;
}

/*fck*/
.fck h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.fck .tool {
  font-size: 12px;
  margin-bottom: 10px;
}

.fck .tool .cate {
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  margin-right: 10px;
}

.fck .sapo {
  margin: 20px 0;
  font-weight: 700;
}

.fck figure {
  margin-bottom: 1rem;
}

figcaption {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  font-style: italic;
}

/*tool-share*/
.tool-share {
  border-top: dashed 1px #ccc;
  display: flex;
  list-style: none;
  padding: 10px 0 10px 0;
  margin: 0;
}

.tool-share li:last-child {
  margin-left: auto;
}

.tool-share li:last-child span {
  cursor: pointer;
}

.tool-share li:last-child span.like {
  margin-right: 10px;
}

/*block-more*/
.title-style {
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
}

.title-style:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 50px;
  height: 2px;
  background: #FFC66C;
  margin-left: -25px;
}

.block-more {
  margin-top: 30px;
}

.block-more .list-news {
  list-style: none;
  padding: 15px 0 0 0;
}

.block-more .list-news li {
  padding-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.block-more .list-news li a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.block-more .list-news li:after {
  position: absolute;
  left: 5px;
  top: 10px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #000;
  border: 0;
}

/*frm-contact*/
.frm-general h2 {
  margin-bottom: 30px;
}

.frm-general .frm-group {
  margin-bottom: 15px;
}

.frm-general .frm-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.frm-general .frm-control {
  width: 100%;
  border: 0;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background: #eee;
  outline: none !important;
}

.frm-general .frm-control.txt-area {
  height: 150px;
  resize: none;
}

.btn-style {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 15px;
  color: #fff;
  background: #FFC66C;
  border: 0;
}

.btn-style.btn-send {
  min-width: 200px;
}

.note {
  margin-top: 30px;
}

.box-shadow {
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
}

/*ipad*/
@media screen and (max-width: 992px) {
  body {
    padding-top: 51px;
    overflow-x: hidden;
  }
  .block-qc {
    text-align: center;
  }
  .btn-top {
    bottom: 100px;
    right: 10px;
    z-index: 99999;
  }
  .btn-top .icon-back {
    width: 35px;
    height: 35px;
    background-size: contain;
  }
  .outer {
    display: block;
  }
  .outer .content {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
  .outer .sidebar {
    width: 100%;
  }
  .outer .left-bar {
    width: 100%;
    padding: 0;
  }
  .top-footer .inner, .bottom-footer .inner {
    display: block;
    text-align: center;
  }
  .top-footer .inner ul li, .bottom-footer .inner ul li {
    display: inline-block;
    margin: 0 3px;
  }
  .rss {
    display: block;
    margin-top: 15px;
  }
  .footer ul.list-sp {
    margin-bottom: 15px;
  }
}

/*Phone*/
/*iphone 6 plus*/
/*iphone 6*/
/*phone 5 inches*/
/*phone 4 inches*/
/*# sourceMappingURL=style.css.map */